! urxvt setting
urxvt*geometry:        80x30
urxvt*scrollBar:       false
urxvt*borderless:      1
urxvt*cursorUnderline: true
urxvt*cursorBlink:     true
urxvt*internalBorder:  4
urxvt*depth:           32
urxvt*dynamicColors:   on
urxvt*dpi:     	       96
urxvt*antialias:       true
urxvt*font:            xft:Inconsolata:size=14

*background: #090100
*foreground: #E8EAEC

*color0: #24211A
*color1: #E36E5D
*color2: #ABD37C
*color3: #EEC87C
*color4: #7CA2EE
*color5: #9197BB
*color6: #74CADB
*color7: #E8E5DC
*color8: #46443A
*color9: #C05948
*color10: #ABD37C
*color11: #EEC87C
*color12: #7CA2EE
*color13: #9197BB
*color14: #74CADB
*color15: #E8E5DC
